<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://firsttrywebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>firsttrywebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>firsttrywebapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$firsttrywebapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="animal_information" Order="1" Enabled="False">
          <Destination Path="Data Source=wildlifeaiddbserver.database.windows.net;Initial Catalog=wildlifeaid;Persist Security Info=True;User ID=TA083@wildlifeaiddbserver.database.windows.net;Password=Wildlife@server" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IE_Project_Final_WebApi.Models.animal_information, IE-Project-Final-WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User ID=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" Name="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User Id=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IE_Project_Final_WebApi.Models.ApplicationDbContext, IE-Project-Final-WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="wildlifeaidEntities1" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User ID=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" Name="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User Id=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IE_Project_Final_WebApi.Models.wildlifeaidEntities1, IE-Project-Final-WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="wildlifeaidEntities2" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User ID=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" Name="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User Id=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=wildlifeaiddbserver.database.windows.net;Initial Catalog=wildlifeaid;User ID=TA083;Password=Wildlife@server;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\wildlifeaidEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DbModel.csdl|res://*/Models.DbModel.ssdl|res://*/Models.DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wildlifeaiddbserver.database.windows.net;initial catalog=wildlifeaid;user id=TA083;password=Wildlife@server;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="wildlifeaidEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User ID=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" Name="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User Id=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=wildlifeaiddbserver.database.windows.net;Initial Catalog=wildlifeaid;User ID=TA083;Password=Wildlife@server;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\wildlifeaidEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Animal_Crashes.csdl|res://*/Models.Animal_Crashes.ssdl|res://*/Models.Animal_Crashes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wildlifeaiddbserver.database.windows.net;initial catalog=wildlifeaid;user id=TA083;password=Wildlife@server;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Animal_Infor" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User ID=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" Name="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User Id=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=wildlifeaiddbserver.database.windows.net;Initial Catalog=wildlifeaid;User ID=TA083;Password=Wildlife@server;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Animal_Infor_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Animal_Info.csdl|res://*/Models.Animal_Info.ssdl|res://*/Models.Animal_Info.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wildlifeaiddbserver.database.windows.net;initial catalog=wildlifeaid;user id=TA083;password=Wildlife@server;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DbModels" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User ID=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" Name="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User Id=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=wildlifeaiddbserver.database.windows.net;Initial Catalog=wildlifeaid;Persist Security Info=True;User ID=TA083;Password=Wildlife@server;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbModels_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DbModel.csdl|res://*/Models.DbModel.ssdl|res://*/Models.DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wildlifeaiddbserver.database.windows.net;initial catalog=wildlifeaid;persist security info=True;user id=TA083;password=Wildlife@server;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Animal_Infor-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Animal_Info.csdl|res://*/Models.Animal_Info.ssdl|res://*/Models.Animal_Info.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:firstrywebappsever.database.windows.net,1433;initial catalog=firsttrywebapp;user id=jidong@firstrywebappsever.database.windows.net;password=zhang@123456789;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)animal_information-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.animal_information.csdl|res://*/Models.animal_information.ssdl|res://*/Models.animal_information.msl;provider=System.Data.SqlClient;provider connection string="Data Source=wildlifeaiddbserver.database.windows.net;Initial Catalog=wildlifeaid;Persist Security Info=True;User ID=TA083@wildlifeaiddbserver.database.windows.net;Password=Wildlife@server"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbModels-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DbModel.csdl|res://*/Models.DbModel.ssdl|res://*/Models.DbModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:firstrywebappsever.database.windows.net,1433;initial catalog=firsttrywebapp;user id=jidong@firstrywebappsever.database.windows.net;password=zhang@123456789;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User Id=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)wildlifeaidEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Animal_Crashes.csdl|res://*/Models.Animal_Crashes.ssdl|res://*/Models.Animal_Crashes.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:firstrywebappsever.database.windows.net,1433;initial catalog=firsttrywebapp;user id=jidong@firstrywebappsever.database.windows.net;password=zhang@123456789;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)wildlifeaidEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:firstrywebappsever.database.windows.net,1433;Initial Catalog=firsttrywebapp;User Id=jidong@firstrywebappsever.database.windows.net;Password=zhang@123456789"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)wildlifeaidEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DbModel.csdl|res://*/Models.DbModel.ssdl|res://*/Models.DbModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:firstrywebappsever.database.windows.net,1433;initial catalog=firsttrywebapp;user id=jidong@firstrywebappsever.database.windows.net;password=zhang@123456789;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>