@{
    ViewBag.Title = "About";
}



<br />
<br />
<br />

<!-- Text for About -->

<h1>
    About us
</h1>
<p>
    <b>


        Wildlife Aid Guide provides a way to tell visitors who are curious about saving wildlife animals how to use the effective way to reduce impacts on wildlife animals they saw.Visitors to Victoria may firstly search google for finding some interested places.
        Visitors who travel to Victoria for first time, the wildlife animals they can visit will attract them. They will have chance to close touch or feed animals.
        Wildlife Aid Guide will provide information to reduce human behaviours impacts on wildlife animals.
    </b>
    </p>

<p>
    <b>


        The catchword about saving wildlife has been existed for a long time. However, nowadays how many people really get interested in saving wildlife animals?
        People are beginning to forget that saving wildlife is an important and ongoing topic.
        Saving wildlife animals contribute to a sustainable environment. Thus, the reason why people don’t want to focus on the topic of saving wildlife animals and even less likely to know their behaviours can hurt wildlife animals. Wildlife Aid Guide provides detailed information about the wildlife animals as much as possible and try to generate all possible impacts on one website.
    </b>
</p>

<br />
<br />
<br />

<h2>
    About the Team: JASH
</h2>

<p>
    <b>
        The JASH team is a part of Monash IE 2018 Semester 2, and it consist of four key team members. 
        The name comes from the first capital letter of each team member’s name. Our team member is Aurick Choudhari from MIT, Jidong Zhang from MIT, Sixi Liu from MDS and Yuhui Fang from MBIS.
    </b>
</p>