
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images1/kangaroo.jpg" alt="First slide">
            <div class="container">

            </div>
        </div>
        <div class="item">
            <img src="~/images1/dingo.jpg" alt="Second slide">
            <div class="container">

            </div>
        </div>
        <div class="item">
            <img src="~/images1/deer.jpg" alt="Third slide">
            <div class="container">

            </div>
        </div>

        <div class="item">
            <img src="~/images1/kangaroo2.jpg" alt="Fourth slide">
            <div class="container">

            </div>
        </div>

        <div class="item">
            <img src="~/images1/wombat.jpg" alt="Fifth slide">
            <div class="container">

            </div>
        </div>

        <div class="item">
            <img src="~/images1/platypus.jpg" alt="Sixth slide">
            <div class="container">

            </div>
        </div>

        <div class="item">
            <img src="~/images1/wallaby.jpg" alt="Seventh slide">
            <div class="container">

            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


<div class="container marketing">

    <!-- Three columns of text below the slider -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/images1/tell.png" height="140" width="140" alt="Generic placeholder image">
            <h2>Emergency Contact:</h2>

            <b>
                Wildlife Victoria: (03)8440 7300<br />
                <br />
                Australian Wildlife Protection Council: (03)9650 8326<br />
                <br />
                Animal Emergency Center:(03)9532 5261
            </b>
            
           

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/images1/image(1).png" height="140" width="140" alt="Generic placeholder image">
            <h2>Designed for visitors</h2>
            <p>This website provides valuable information for tourists and new immigrants who are curious about saving local wildlife animals. Just a small step by you could actually save an animal's life. This website provides you with statistics and information regarding the local wildlife.</p>
            <p><input type="button" class="btn btn-default" value="About Us" onclick="@("window.location.href='" + @Url.Action("About","Home")+"'");" /></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">

            
            <img class="img-circle" src="~/images1/image.png" height="140" width="180" alt="Generic placeholder image">
            <h2>Unique Value</h2>
            <h3>
                Ease of Use
            </h3>
            <p>This website provides insights within the visualization charts which could be very useful to understand even if english is not your first language.</p>
           
        </div><!-- /.col-lg-4 -->
    </div>
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; JASH &middot;</p>
    </footer>

</div><!-- /.container -->


