@{
    ViewBag.Title = "Speed";
}
<h2>Statistics</h2>

<!-- Using the scripts for embedding tableau reports -->

<script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<h1>
    Speed comparision of the vehicle during collision
</h1>

<p>
    <b>
        This graph gives the how speed and light condition effect wildlife-vehicle-collision. 
        The redder of the color, the higher of the record number. 
        Then it can be found that the worst case is when driver drives with a speed of 100km/hr and highest record is without street light and followed by day. 
        So please slow down while driving between dusk and dawn in areas populated by wildlife when the nocturnal wildlife is most active and feeding.
    </b>

</p>

<!-- Script to embed tableau reports -->

<script>

    var viz, workbook, activeSheet;
    $(document).ready(function () {
        initializeViz();
    });


    function initializeViz() {


        var placeholderDiv = document.getElementById("tableauViz");
        //Options to show the sheet
        var options = {

            width: "100%",
            height: "800px",
            onFirstInteractive: function () {
                workbook = viz.getWorkbook();
                activeSheet = workbook.getActiveSheet();
            }

        };
        
        var url = 'https://public.tableau.com/views/jash-speedlighteffect/Sheet1?:embed=y&:display_count=yes'
        
        viz = new tableauSoftware.Viz(placeholderDiv, url, options);
        
    }
</script>


